<!doctype html>
<html>
<head>
  <title>BEAF-UI Examples</title>
  <!-- <link rel="stylesheet" href="/global.scss"> -->
</head>
<body>
  <div id="app"></div>
  <!-- <script src="/__build__/vendors.chunk.js"></script>
  <script src="/__build__/app.js"></script> -->
</body>

</html>
