.AiSideNav{
    height: 100%;
    background-color: #f5f5f5;
    border-right: 1px solid #e7e7e7;
    overflow-x: hidden;
    // display: inline-block;    
    .side_nav_main{
    	padding: 20px 0 60px;
    	box-sizing:border-box;
    	overflow:hidden;
    	height:calc(100% - 60px);
    }
    .toggle_icon{
    	width:59px;
    	height:60px;
    	cursor:pointer;
    	text-align:center;
        .icon{
            width:20px;
            height:20px;
            margin-top:20px;
            fill:currentColor;
        }
    	.icon-fold{
    		color:#20a0ff;
    	}
    	.icon-unfold{
    		color:#a7a7a7;
             
    	}
    }
}
 #icon-unfold,
 #icon-fold{
    path{
        fill:inherit;
    }
}