#TopNav{
  .float_left {
    display: block;
    float: left;
    box-sizing:border-box;
  }

  .float_right {
    display: block;
    float: right;
  }
  .flex {
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
  .ellipsis {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
  .double-ellipsis {
    overflow:hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
  }
  .wordbreak {
    word-break: break-all;
    word-wrap: break-word;
  }
  .content{
    font: 14px Small;
    margin: 10px 0;
  }
  .small-content{
    font: 13px Extra Small;
    margin: 10px 0;
  }
  .small-tag{
    font: 12px Extra Extra Small;
    margin: 10px 0;
  }
  .pointer {
    cursor:pointer
  }
  .line {
    border-bottom: 1px solid #e5e5e5;
  }
  .dark-zone {
    padding: 12px 20px;
    background-color: #fafafa;
    border-radius: 4px;
  }
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
  .highlight {
    color: #ff5e34;
  }
  a, a:active  {
    color: #20a0ff;
  }
  a.underline {
    padding: 0 1px 1px;
    color: #2babf6;
    cursor: pointer;
  }
  a.underline:hover {
    border-bottom: 1px solid #2babf6;
  }


  .icon {
   width: 1.2em;
   height: 1.2em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
  }

}


