// @import "~ASSETS/iconfont/iconfont.css";
@media screen and (min-width:1280px){
	#TopNav {
		padding: 0 40px;
	}
}
@media screen and (max-width:1280px){
	#TopNav {
		padding: 0 10px;
		margin:0 auto;
	}
}
#TopNav {
  	min-width: 1210px;
  	box-sizing:border-box;
	min-height: 56px;
	width: 100%;
	background-color: #fff;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, .1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1999;

  	.logo, .home-menu, .version, .account {
	  height: 56px;
	  line-height: 56px;
	}
	.logo{
	  padding-top: 10px;
	  cursor: pointer;
	  svg {
	    width: 90px;
	    height: 50px;
	    position: relative;
	    top: -7px;
	    &.beta-icon{
	      width: 25px;
	      height: 24px;
	      top: -35px;
	    }
	  }
	}
	.version {
	  margin: 0 20px;
	  cursor: pointer;
	  .icon {
	    width: 55px;
	    height: 55px;
	  }
	}
	.home-menu {
	  margin-right: 20px;
	  font-size:16px;
	  font-weight:400;
	  .home-menu-item {
	    padding: 0 15px;
			position: relative;
			cursor: pointer;
	    &:hover {
	      a { color: #2babf6; }
	    }
	    > a {
				font-size: 16px;
	      height: 56px;
	      display: inline-block;
	      padding: 0 5px;
	      color: #959595;
	    }
	    > a.active {
	      color: #1F2D3D;
	      border-bottom: 3px solid #0097fa;
	    }
	  }
	}
	.btn-icon {
	  position: relative;
	  float: left;
	  height: 56px;
	  &:hover{
			color: #0097fa;
	  }

	  .icon {
	    margin: 10px;
	    padding: 7px 5px;
	    font-size:21px;
	    line-height:56px;
	    width: 21px;
	    height: 22px;
	    color: #959595;
	    cursor: pointer;
	    #icon-search > path{
			fill:inherit;
		}
		&.icon-search{
			box-sizing:border-box;			
			width: 31px;
			height:35px;
		}
	  }
	  .icon.active, .icon:hover {
	    color: #0097fa;
	  }
	}
	.account {
	  margin-left: 10px;
	  color: #959595;
	  font-size: 14px;
	  align-items: center;
	  cursor: pointer;
	  .btn-account {
	    height: 37px;
	    line-height: 37px;
	    .img-user-head, .icon-user-head {
	      margin-right: 8px;
	      width: 37px;
	      height: 37px;
	    }
	    &.active, &:hover {
	      color: #0097fa;
	    }
	  }
	  .btn-renzheng {
	    margin-left: 10px;
	    height: 56px;
	    position: relative;
	    .icon-renzheng {
	      width: 46px;
	      height: 56px;
	      color: #c9c9c9;
	    }
	    .web-font {
	      color: #fff;
	      font-size: 12px;
	      transform: scale(0.75);
	      -webkit-transform: scale(0.75);
	      -ms-transform: scale(0.75);
	      -moz-transform: scale(0.75);
	      -o-transform: scale(0.75);
	      position: absolute;
	      right: -1px;
	      top: -1px;
	    }
	    &.active {
	      .icon { color: #48aaf0; }
	    }
	    &:hover {
	      .icon { color: #0097fa; }
	    }
	  }
	}
	.popover-user {
	  width: 242px;
	  right: 15px;
	  p {
	    word-break: break-all;
	    word-wrap: break-word;
	    margin: 5px 0;
	  }
	  img { margin-right: 15px; }
	  .img-user-head, .icon-user-head {
	    margin-right: 10px;
	    width: 50px;
	    height: 50px;
	  }
	  .icon-shezhi {
	    margin-right: 3px;
	    font-size: 22px;
	    vertical-align: -3px;
	  }
	  .btn-upgrade {
	    margin-top: 15px;
	    padding: 0;
	    width: 100%;
	    height: 30px;
			line-height: 30px;
			background-color: #ffb700;
			border: 1px solid #ffb700;
	    .icon { width: 15px; }
	  }
	  .version-info {
	    // margin-top: 10px;
	    // border-top: 1px solid #e5e5e5;
	    font-size: 12px;
	    .icon {
	      width: 25px;
	      height: 25px;
	      vertical-align: -8px;
	    }
		}
		.uinfo {
			line-height: 35px;
			height: 35px;
			color: #959595;
			cursor: pointer;
			.icon {
				font-size: 18px;
				line-height: 1;
				position: relative;
				top: -1px;
				margin-right: 10px;
			}
		}
	}
	.popover-msg {
	  width: 370px;
	  right: 15px;
	  .list-item + .list-item {
	      border-top: 1px solid #e7e7e7;
	  }
	  .list-item:first-child {
	    padding-top: 0;
	    .icon { top: 0; }
	  }
	  .list-item:last-child {
	    padding-bottom: 0;
	  }
	  .list-item {
	    padding: 7px 0;
	    position: relative;
	    cursor: pointer;
	    .icon {
	      margin-top: 0;
	      font-size: 14px;
	      position: absolute;
	      top: 8px;
	      right: -2px;
	      z-index: 1;
	    }
	    .icon:hover { color: #0097fa; }
	    .msg-title {
	      position: relative;
	      padding-right: 80px;
	      color: #333;
	      > span {
	        position: absolute;
	        right: 0;
	        bottom: 0;
	        line-height: 20px;
	      }
	    }
	    .msg-content { font-size: 12px; }
	    .msg-tip {
	      font-size: 12px;
	      color: #959595;
	    }
	    p + p { margin-top: 3px; }
	  }
	}
	.dui-popover {
		.dui-popover-footer {
			cursor: pointer;
			button {
				cursor: pointer;
			}
		}
	  .dui-popover-footer, .dui-popover-header {
	    padding: 10px 0;
	    height: 45px;
	    box-sizing:border-box;
	    line-height: 25px;
	    text-align: center;
	    background-color: #f7f7f7;
	    border-radius: 0 0 4px 4px;
	    overflow: hidden;
	    button { padding: 0; }
	  }
	  // .dui-popover-footer.flex {
	  //   button { width: 50%; }
	  //   button:first-child {
	  //     border-right: 1px solid #d7d7d7;
	  //     border-radius: 0;
	  //   }
	  // }
	  .dui-popover-header {
	    position: relative;
	    font-size: 16px;
	    border-radius: 4px 4px 0 0;
	    .el-button {
	      position: absolute;
	      top: 15px;
	      right: 15px;
	    }
	  }
	}
	
	.search_box{
		min-width:400px;
		max-width:700px;
		width:70%;
		margin:0 auto;
		height:48px;
		box-sizing:border-box;
		padding-top:8px;
	}

	.ai-tag {
	  margin-left: 15px;
	  margin-top: 17px;
	}
	.ai-badge {
	  position: absolute;
	  top: 13px;
	  right: 2px;
	  cursor: pointer;
	}
	.el-button + .el-button { margin-left: 0 }
	.float_left {
	    display: block;
	    float: left
	}
	.ai-btn--text {
	  height:25px;
	  color: #0097fa;
	  background-color: transparent;
	  border: none;
	  margin-left: 5px;
	  padding: 0 10px;
	}

	.ai-btn--text:hover, .ai-btn--text:hover .icon{
	  color: #2babf6;
	}
	.ai-btn--text:focus, .ai-btn--text:focus .icon{
	  color: #0087dc;
	}
	.user_nickName{
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    max-width:150px;
	}
	.icon{
		line-height:56px;
	}
	.head-info {
		padding-left: 70px;
		.head-icon {
			position: absolute;
			left: 16px;
		}
	}

}

